/*
*   (DO NOT REMOVE THIS HEADER)
*
*   Author: espimyte (https://espy.world)
*/

:root {
    --nav-width: 40px;
}
:root:has(.lb-open) {
    overflow: hidden;
}

@keyframes loading {
	0% {
		content: ".";
	}
    33% {
        content: "..";
    }
	66% {
		content: "...";
	}
    100% {
		content: ".";
	}
}

/* Lightbox */
#lb {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    overflow: auto;
    border-style: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 1rem;
}
#lb a {
    color: rgb(255, 130, 193);
    text-decoration: underline;
}
#lb a:hover {
    color: rgb(255, 252, 206);
}

#lb_wrapper {
    position: fixed;
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}
#lb_container {
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 40px);
    gap: 10px;
    padding: 20px;
}
#lb_exitButton {
    position: absolute;
    top: 0%;
    left: 0%;
    border-style: none;
    border-radius: 0%;
    background-color: transparent;
    z-index: 0;
    padding: 0;
    cursor: auto !important;
    height: 100dvh;
    width: 100%;
}
#lb_smallExitButton {
    display: none;
    color: rgb(25, 77, 25);
    background: none;
    font-size: 20px;
}
#lb_exitText {
    margin: 0;
}
#lb_info {
    background-color: rgb(0, 0, 0);
    border-style: double;
    margin: 0 auto;
    color: rgb(179, 226, 203);
    border-color: rgb(96, 99, 98);
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    gap: 5px;
    z-index: 1;
    box-sizing: border-box;
}
#lb_imageWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#lb_image {
    z-index: 1;
    object-fit: contain;
    image-rendering: auto;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border: 1px solid rgb(75, 75, 75);
    box-sizing: border-box;
}
#lb_image.lb-noframe {
    border-color: transparent;
}
#lb_desc {
    color: rgb(177, 177, 177);
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
}
#lb_title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#lb_tags {
    display: flex;
    font-family: monospace;
    gap: 5px;
    margin-bottom: 5px;
}
#lb_tags span {
    font-size: 0.85em;
    color: gray;
    padding: 2px 5px;
    border-width: 1px;
    border-style: solid;
}
@media screen and (max-width: 600px) {
    #lb_container {
        padding: 0;
        margin: 0;
        height: calc(100dvh);
    }
    #lb_image {
        margin: 0 auto;
    }
    #lb_smallExitButton {
        display: block;
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: rgb(142, 175, 141);
        height: 50px;
        width: 50px;
        margin-left: auto;
        border-style: outset;
        border-color: rgb(116, 113, 121);
        z-index: 1000;
    }
}

/* Lightbox navigation */
.lb-nav {
    color: rgb(132, 161, 131);
    background: transparent;
    backdrop-filter: brightness(60%);
    border-color: rgba(116, 113, 121, 0.493);
    min-width: var(--nav-width);
    max-width: var(--nav-width);
    margin: auto;
    height: 100%;
    z-index: 1;
    display: none;
    font-size: 20px;
    cursor: pointer;
}
.lb-nav:hover, .lb-nav.lb-pressed {
    color: rgb(94, 116, 94);
    backdrop-filter: brightness(50%);
    transition: 0.1s;
}
.lb-nav:disabled {
    color: rgb(43, 43, 43);
    border-color: rgb(32, 32, 32);
    backdrop-filter: brightness(60%);
}
#lb_next::before {
    content: "▶";
}
#lb_prev::before {
    content: "◀";
}
@media screen and (max-width: 600px) {
    .lb-nav {
        position: absolute;
        border: none;
        backdrop-filter: none;
    }
    #lb_next {
        top: 0%;
        right: 0%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(6, 97, 1, 0.3) 100%
        );
    }
    #lb_prev {
        top: 0%;
        left: 0%;
        background: linear-gradient(
            90deg,
            rgba(6, 97, 1, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }
}

/* Lightbox loading */
#lb_loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
}
#lb_loading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

/* Gallery grid */
.g-gridCell {
    position: relative;
    margin: 5px;
    border: 1px solid rgb(71, 71, 71);
}
.g-gridCell.g-noframe {
    border-color: transparent;
}
.g-gridImage {
    order: 1;
}
.g-gridButton {
    order: 2;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.g-gridButton:hover {
    cursor: pointer;
}
.g-gridCellEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    mix-blend-mode: multiply;
    order: 3;
}
.g-gridCellEffect, .g-image {
    transition: 0.5s ease !important;
}
.g-gridCell:hover .g-gridCellEffect {
    transition: 0s ease !important;
    box-shadow: inset 10px 10px 40px rgb(46, 46, 46);
}
.g-disabled img {
    opacity: 1 !important;
}
.g-disabled button {
    display: none;
}

.g-gridCellCaption {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 8px 5px;
    color: white;
    font-size: 0.9rem;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, -2px 2px 0 black;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 5px;
}
.g-noframe .g-gridCellCaption {
    margin: 0;
}
.g-gridCellCaption a {
    display: block;
    position: relative;
    color: rgb(255, 255, 90);
    text-decoration: underline;
    z-index: 1;
}
.g-gridCellCaption.g-smallScreen {
    display: none;
}

.g-justifiedGrid .g-gridCellLoading {
    display: none;
}
.g-gridCellLoading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.g-gridCellLoading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

@media screen and (max-width: 600px) {
    .g-gridCellCaption.g-smallScreen {
        display: block;
    }
}

/* Gallery justified grid */
.g-justifiedGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: safe center;
}
.g-justifiedGridRow {
    display: flex;
}
.g-justifiedGridCell {
    position: relative;
}
.g-justifiedGridButton {
    background: transparent;
    border-style: none;
    z-index: 1;
    top: 0%;
    left: 0%;
}
.g-justifiedGridImage {
    height: 100%;
}
@media screen and (max-width: 600px) {
    .g-justifiedGridRow {
        max-height: none;
    }
}

/* Gallery fixed grid */
.g-fixedGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0em;
}
.g-fixedGridCell {
    display: inline;
}
.g-fixedGridImage {
    background: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    vertical-align: middle;
}
.g-fixedGridButton {
    display: inline;
    background: transparent;
    box-sizing: content-box;
    border-style: none;
    border-width: 0px;
}

/* Gallery pagination */
.g-pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    font-family: monospace;
}
.g-pageNavButton {
    margin: 0;
    cursor: pointer;
}
.g-pageNavButton:disabled {
    color: black;
}
.g-pageNavPrev:before {
    content: "<";
}
.g-pageNavNext:before {
    content: ">";
}

@media screen and (max-width: 600px) {
    .g-smallScreenHide {
        display: none;
    }
}