/*
*   (DO NOT REMOVE THIS HEADER)
*
*   Author: espimyte (https://espy.world)
*/

:root {
    --nav-width: 40px;
}
:root:has(.lb-open) {
    overflow: hidden;
}

body {
    overflow-anchor: none;
}

@keyframes loading {
	0% {
		content: ".";
	}
    33% {
        content: "..";
    }
	66% {
		content: "...";
	}
    100% {
		content: ".";
	}
}

/* Lightbox */
#lb {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    overflow: auto;
    border-style: none;
    overflow: hidden;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: "Segoe UI Semilight",Tahoma,sans-serif;
    background: linear-gradient(
        180deg,
        rgba(0, 167, 189, 0.3) 0%,
        rgba(12, 105, 51, 0.3) 100%
    );
}
#lb a {
    color: rgb(0, 238, 255);
    text-decoration: underline;
}
#lb a:hover {
    color: white;
}

#lb_wrapper {
    position: fixed;
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}
#lb_container {
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 40px);
    gap: 10px;
    padding: 20px;
}
#lb_exitButton {
    position: absolute;
    top: 0%;
    left: 0%;
    border-style: none;
    border-radius: 0%;
    background-color: transparent;
    z-index: 0;
    padding: 0;
    cursor: auto !important;
    height: 100dvh;
    width: 100%;
}
#lb_smallExitButton {
    display: none;
    color: rgb(25, 77, 25);
    font-size: 20px;
    background: linear-gradient(
        180deg,
        rgba(0, 52, 73, 0.767) 0%,
        rgba(1, 32, 30, 0.7) 100%
    );
    margin: 5px;
    border: 1px solid rgb(48, 130, 143);
    border-radius: 10px;
}
#lb_exitText {
    margin: 0;
    color: rgb(191, 214, 88);
}
#lb_info {
    margin: 0 auto;
    color: rgb(179, 226, 203);
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    gap: 5px;
    z-index: 1;
    box-sizing: border-box;
    background: linear-gradient(
        180deg,
        rgba(1, 53, 73, 0.7) 0%,
        rgba(27, 75, 72, 0.7) 80%,
        rgba(20, 100, 95, 0.7) 100%
    );
    border: 1px ridge rgb(37, 207, 170);
    border-radius: 10px;
    box-shadow: inset 0px -5px 10px rgb(3, 96, 112);
}
#lb_imageWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#lb_image {
    position: relative;
    z-index: 1;
    object-fit: contain;
    image-rendering: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-sizing: border-box;
    width: calc(100%);
    height: calc(100% - 20px);
    border: 1px solid rgb(48, 130, 143);
    padding: 5px 5px;
    background: linear-gradient(
        180deg,
        rgba(0, 52, 73, 0.767) 0%,
        rgba(1, 32, 30, 0.7) 100%
    );
    box-shadow: inset 0px 0px 5px rgba(65, 74, 75, 0.8);
}
#lb_image.lb-noframe {
    border-color: transparent;
}
#lb_desc {
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
    color: rgb(199, 221, 142);
}
#lb_title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: rgb(229, 243, 193);
}
#lb_tags {
    display: flex;
    font-family: monospace;
    gap: 5px;
    margin-bottom: 5px;
}
#lb_tags span {
    font-size: 0.85em;
    padding: 2px 5px;
    border-width: 1px;
    border-style: solid;
    color: rgb(147, 230, 224);
    border-color: rgb(81, 169, 180);
    background: linear-gradient(
        180deg,
        rgb(5, 112, 85) 0%,
        rgb(9, 61, 104) 100%
    );
    font-family: "Segoe UI Semilight",Tahoma,sans-serif;
}
#lb_desc code {
    font-size: 0.9em;
    font-family: monospace;
    padding: 0px 2px;
    background-color: rgb(10, 96, 122);
    color: #15fff3;
}

@media screen and (max-width: 600px) {
    #lb_container {
        padding: 0;
        margin: 0;
        height: calc(100dvh);
    }
    #lb_image {
        margin: 0 auto;
        padding: 0px;
    }
    #lb_smallExitButton {
        display: block;
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: rgb(142, 175, 141);
        height: 50px;
        width: 50px;
        margin-left: auto;
        border-style: outset;
        border-color: rgb(116, 113, 121);
        z-index: 1000;
    }
}

/* Lightbox navigation */
.lb-nav {
    backdrop-filter: brightness(60%);
    min-width: var(--nav-width);
    max-width: var(--nav-width);
    z-index: 1;
    display: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: auto 10px;
    height: 200px;
    border: 1px solid rgb(0, 113, 121);
    color: rgb(127, 211, 194);
    background: linear-gradient(
        180deg,
        rgba(1, 53, 73, 0.7) 0%,
        rgba(27, 75, 72, 0.7) 80%,
        rgba(20, 100, 95, 0.7) 100%
    );
    box-shadow: inset 0px 0px 5px rgba(100, 128, 131, 0.8);
    max-height: calc(100% - 10px);
}
.lb-nav:hover, .lb-nav.lb-pressed {
    backdrop-filter: brightness(50%);
    transition: 0.1s;
    color: rgb(0, 255, 191);
    border-color: rgb(0, 155, 142);
    background: linear-gradient(
        180deg,
        rgba(0, 95, 133, 0.7) 0%,
        rgba(48, 134, 129, 0.7) 80%,
        rgba(32, 163, 154, 0.7) 100%
    );
}
.lb-nav:disabled {
    backdrop-filter: brightness(60%);
    color: rgb(122, 122, 122);
    border-color: rgb(100, 100, 100);
    background: linear-gradient(
        180deg,
        rgba(63, 63, 63, 0.6) 0%,
        rgba(61, 61, 61, 0.6) 80%,
        rgba(59, 59, 59, 0.6) 100%
    );
    box-shadow: inset 0px 0px 5px rgba(61, 61, 61, 0.8);
}
#lb_next::before {
    content: "▶";
}
#lb_prev::before {
    content: "◀";
}
@media screen and (max-width: 600px) {
    .lb-nav {
        position: absolute;
        border: none;
        backdrop-filter: none;

        height: 100%;
        margin: 0;
        border-radius: 0px !important;
        max-height: unset;
        box-shadow: none;
    }
    #lb_next {
        top: 0%;
        right: 0%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(40, 255, 244, 0.3) 100%
        );
    }
    #lb_prev {
        top: 0%;
        left: 0%;
        background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(40, 255, 244, 0.3) 100%
        );
    }
}

/* Lightbox loading */
#lb_loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}
#lb_loading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

/* Gallery grid */
.g-grid:empty {
    height: 50px;
    font-family: "Segoe UI Semilight",Tahoma,sans-serif;
    border: 1px solid rgb(0, 136, 118);
    color: rgb(123, 255, 237);
}
.g-grid:empty:before {
    content: "Nothing here!";
    margin: auto;
    padding: 5px;
}
.g-gridCell {
    position: relative;
    margin: 8px;
    transition: all 0.5s !important;
    border: none;
}
.g-gridCell.g-noframe {
    border-color: transparent;
}
.g-gridImage {
    order: 1;
    border-radius: 20px;
    border: 1px solid rgb(0, 255, 136);
}
.g-gridButton {
    order: 2;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.g-gridButton:hover {
    cursor: pointer;
}
.g-gridCellEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    order: 3;
    border-radius: 15px;
    box-shadow: inset 0px 0px 20px rgb(7, 255, 243);
}
.g-gridCellEffect, .g-image {
    transition: 0.5s ease !important;
}
.g-gridCell:hover {
    transform: translateY(-5px);
    transition: all 0s !important;
}
.g-gridCell:hover .g-gridCellEffect {
    transition: 0s ease !important;
    box-shadow: inset 0px 0px 20px rgb(7, 255, 243), inset 0px -5px 25px rgb(218, 255, 7);
}
.g-disabled img {
    opacity: 1 !important;
}
.g-disabled button {
    display: none;
}

.g-gridCellCaption {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 5px 5px;
    color: white;
    font-size: 0.9rem;
    font-family: "Segoe UI Semilight",Tahoma,sans-serif;
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid rgb(70, 161, 85) ;
    background: linear-gradient(
        180deg,
        rgba(0, 52, 73, 0.9) 0%,
        rgba(1, 32, 30, 0.9) 100%
    );
}
.g-noframe .g-gridCellCaption {
    margin: 0;
}
.g-gridCellCaption a {
    display: block;
    position: relative;
    color: white;
    text-decoration: underline;
    z-index: 1;
}
.g-gridCellCaption.g-smallScreen {
    display: none;
}

.g-justifiedGrid .g-gridCellLoading {
    display: none;
}
.g-gridCellLoading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.g-gridCellLoading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

.g-gridCell.g-noframe .g-gridImage, .g-gridCell .g-gridCellEffect {
    border-color: transparent;
    box-shadow: none;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .g-gridCellCaption.g-smallScreen {
        display: block;
    }
    .g-fixedGridCell.g-smallFillWidth {
        width: 100% !important;
        height: unset !important;
    }
    .g-justifiedGridRow.g-smallFillWidth {
        flex-direction: column;
        max-height: unset !important;
        max-width: unset !important;
        height: unset !important;
    }
    .g-justifiedGridRow.g-smallFillWidth .g-gridImage {
        width: 100%;
    }
}

/* Gallery justified grid */
.g-justifiedGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: safe center;
}
.g-justifiedGridRow {
    display: flex;
}
.g-justifiedGridCell {
    position: relative;
}
.g-justifiedGridButton {
    background: transparent;
    border-style: none;
    z-index: 1;
    top: 0%;
    left: 0%;
}
.g-justifiedGridImage {
    height: 100%;
}
@media screen and (max-width: 600px) {
    .g-justifiedGridRow {
        max-height: none;
    }
}

/* Gallery fixed grid */
.g-fixedGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0em;
}
.g-fixedGridCell {
    display: inline;
}
.g-fixedGridImage {
    background: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    vertical-align: middle;
}
.g-fixedGridButton {
    display: inline;
    background: transparent;
    box-sizing: content-box;
    border-style: none;
    border-width: 0px;
}

/* Gallery pagination */
.g-pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    font-family: "Segoe UI Semilight",Tahoma,sans-serif;
    color: rgb(0, 230, 218);
}
.g-pageNavButton {
    margin: 0;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid green;
    color: rgb(0, 230, 218);
    background: linear-gradient(
        180deg,
        rgba(0, 156, 177, 0.767) 0%,
        rgba(0, 44, 41, 0.7) 100%
    );
}
.g-pageNavButton:disabled {
    color: rgb(151, 151, 151);
    border-color: gray;
    background: linear-gradient(
        180deg,
        rgba(167, 167, 167, 0.767) 0%,
        rgba(36, 36, 36, 0.7) 100%
    );
}
.g-pageNavButton:hover:not(:disabled) {
    background: linear-gradient(
        180deg,
        rgba(0, 156, 177, 0.9) 0%,
        rgba(0, 44, 41, 0.9) 100%
    );
}
.g-pageNavPrev:before {
    content: "<";
}
.g-pageNavNext:before {
    content: ">";
}

@media screen and (max-width: 600px) {
    .g-smallScreenHide {
        display: none;
    }
}

/* Gallery sifter */
.g-sifterWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-family: monospace;
    font-size: 1.1em;
}
.g-sifter {
    display: flex;
    font-family: "Segoe UI Semilight",Tahoma,sans-serif;
    font-size: 0.9em;
    color: cyan;
    accent-color: rgb(33, 216, 161);
}
.g-sifter span:not(.g-sifterName) {
    margin: 0px 5px;
}
.g-sifterName {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 5px;
    color: rgb(0, 202, 209);
}
.g-inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.g-filterInputOther:before {
    content: "N/A"
}

.g-sort span:not(.g-sifterName) {
    text-transform: capitalize;
}
.g-sortInputAscending:before {
    content: "ascending";
}
.g-sortInputDescending:before {
    content: "descending";
}
.g-sortAlphabetical .g-sortInputAscending:before {
    content: "A-Z";
}
.g-sortAlphabetical .g-sortInputDescending:before {
    content: "Z-A";
}
