/*
*   (DO NOT REMOVE THIS HEADER)
*
*   Author: espimyte (https://espy.world)
*/

:root {
    --nav-width: 40px;
    --border-image: url('pink-border.png')
}
:root:has(.lb-open) {
    overflow: hidden;
}

body {
    overflow-anchor: none;
}

@keyframes loading {
	0% {
		content: ".";
	}
    33% {
        content: "..";
    }
	66% {
		content: "...";
	}
    100% {
		content: ".";
	}
}

/* Lightbox */
#lb {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    overflow: auto;
    border-style: none;
    overflow: hidden;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 1rem;
    background: linear-gradient(
        180deg,
        rgba(255, 157, 76, 0.3) 0%,
        rgba(255, 164, 220, 0.3) 100%
    );
}
#lb a {
    color: rgb(240, 255, 156);
    text-decoration: underline;
}
#lb a:hover {
    color: white;
}

#lb_wrapper {
    position: fixed;
    overflow: auto;
    display: flex;
    height: 100dvh;
    overflow: hidden;
    padding: 0px 5px;
    width: calc(100% - 10px);
}
#lb_container {
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 40px);
    gap: 10px;
    padding: 20px;
}
#lb_exitButton {
    position: absolute;
    top: 0%;
    left: 0%;
    border-style: none;
    border-radius: 0%;
    background-color: transparent;
    z-index: 0;
    padding: 0;
    cursor: auto !important;
    height: 100dvh;
    width: 100%;
}
#lb_smallExitButton {
    display: none;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(
        180deg,
        rgba(255, 185, 128, 0.5) 0%,
        rgba(255, 164, 220, 0.5) 100%
    );
    color: pink;
    border-radius: 100%;
    margin: 5px;
}
#lb_exitText {
    margin: 0;
}
#lb_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: linear-gradient(
        180deg,
        rgba(255, 185, 128, 0.8) 0%,
        rgba(255, 164, 220, 0.8) 100%
    );
    border: 1px dashed white;
    padding: 0px 16px;
    margin: 8px auto;
}
#lb_info:before {
    content: "❁✿❀❁✿❀";
    transform: translateY(-12px);
    text-align: center;
    height: 10px;
    letter-spacing: 10%;
}
#lb_info:after {
    content: "❁✿❀❁✿❀";
    transform: translateY(-2px);
    text-align: center;
    height: 10px;
    letter-spacing: 4px;
}
#lb_imageWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#lb_image {
    position: relative;
    z-index: 1;
    object-fit: contain;
    image-rendering: auto;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-sizing: border-box;
    border: 18px solid transparent;
    border-image: var(--border-image) 18 round;
}
#lb_image.lb-noframe {
    border: 0px solid transparent;
    border-image: unset;
}
#lb_desc {
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
    color: white;
    letter-spacing: 1px;
}
#lb_title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
#lb_tags {
    display: flex;
    font-family: monospace;
    gap: 5px;
    margin-bottom: 5px;
}
#lb_tags span {
    font-size: 0.85em;
    border-width: 1px;
    border-style: solid;
    font-family: serif;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: rgb(255, 253, 223);
    border-color: rgba(255, 251, 193, 0.4);
    background: rgba(245, 174, 187, 0.8);
    border-radius: 6px;
    padding: 2px 8px;
}
#lb_desc code {
    font-size: 0.9em;
    font-family: monospace;
    background-color: rgba(198, 56, 169, 0.43);
    color: #ffff15;
    padding: 0px 2px;
}

@media screen and (max-width: 600px) {
    #lb_container {
        padding: 0;
        margin: 0;
        height: calc(100dvh);
    }
    #lb_image {
        margin: 0 auto;
    }
    #lb_smallExitButton {
        display: block;
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: rgb(142, 175, 141);
        height: 50px;
        width: 50px;
        margin-left: auto;
        border-style: outset;
        border-color: rgb(116, 113, 121);
        z-index: 1000;
    }
}

/* Lightbox navigation */
.lb-nav {
    backdrop-filter: brightness(60%);
    min-width: var(--nav-width);
    max-width: var(--nav-width);
    z-index: 1;
    display: none;
    cursor: pointer;
    color: rgb(255, 228, 154);
    font-size: 2em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: auto 5px;
    max-height: calc(100% - 10px);
    height: 300px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    background: linear-gradient(
        180deg,
        rgba(255, 185, 128, 0.5) 0%,
        rgba(255, 164, 220, 0.5) 100%
    );
}
.lb-nav:hover, .lb-nav.lb-pressed {
    backdrop-filter: brightness(50%);
    transition: 0.1s;
    color: white;
    background: linear-gradient(
        180deg,
        rgba(255, 185, 128, 0.7) 0%,
        rgba(255, 164, 220, 0.7) 100%
    );
    border-style: solid;
}
.lb-nav:disabled {
    backdrop-filter: brightness(60%);
    background: rgba(0, 0, 0, 0.486);
    color: rgba(255, 192, 203, 0.6);
    border-color: rgba(255, 192, 203, 0.6);
    border-style: solid;
}
#lb_prev {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#lb_next {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#lb_prev:before {
    content: '✽⊰✽';
}
#lb_next:before {
    content: '✽⊱✽';
}
@media screen and (max-width: 600px) {
    .lb-nav {
        position: absolute;
        border: none;
        backdrop-filter: none;
        height: 100%;
        margin: 0;
        border-radius: 0px !important;
        max-height: unset;
        color: pink;
    }
    #lb_next {
        top: 0%;
        right: 0%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 202, 228, 0.5) 100%
        );
    }
    #lb_prev {
        top: 0%;
        left: 0%;
        background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 202, 228, 0.5) 100%
        );
    }
}

/* Lightbox loading */
#lb_loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}
#lb_loading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

/* Gallery grid */
.g-grid:empty {
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid pink;
    color: rgb(255, 231, 235);
}
.g-grid:empty:before {
    content: "Nothing here!";
    margin: auto;
    padding: 5px;
}
.g-gridCell {
    position: relative;
    margin: 5px;
    border: 18px solid transparent;
    border-image: var(--border-image) 18 round;
    image-rendering: pixelated;
    box-sizing: border-box;
    transition: transform 0.5s, filter 0.5s !important;
    filter: drop-shadow(5px 5px 0px rgba(109, 15, 96, 0.5));
}
.g-gridCell > * {
    image-rendering: auto;
}
.g-gridCell:hover {
    transform: rotateZ(3deg);
    transition: transform 0s !important;
    filter: drop-shadow(0px 0px 10px rgb(255, 175, 244)) drop-shadow(5px 5px 0px rgba(109, 15, 96, 0.5));
}
.g-gridCell:hover .g-gridImage {
    filter: sepia(100%) saturate(312%) hue-rotate(287deg) brightness(100%) contrast(100%);
}
.g-gridCell.g-noframe {
    border: none;
}
.g-gridImage {
    order: 1;
}
.g-gridButton {
    order: 2;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: calc(100% + 36px);
    height: calc(100% + 36px);
    transform: translate(-18px, -18px);
}
.g-gridButton:hover {
    cursor: pointer;
}
.g-gridCellEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    mix-blend-mode: multiply;
    order: 3;
    display: none;
}
.g-gridCellEffect, .g-image {
    transition: 0.5s ease !important;
}
.g-gridCell:hover .g-gridCellEffect {
    transition: 0s ease !important;
    box-shadow: inset 10px 10px 40px rgb(46, 46, 46);
}
.g-disabled img {
    opacity: 1 !important;
}
.g-disabled button {
    display: none;
}

.g-gridCellCaption {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    color: white;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    margin: 2px;
    background: linear-gradient(
        180deg,
        rgba(255, 179, 116, 0.8) 0%,
        rgba(255, 175, 224, 0.8) 100%
    );
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 1px rgb(255, 245, 188);
}
.g-noframe .g-gridCellCaption {
    margin: 0;
}
.g-gridCellCaption a {
    display: block;
    position: relative;
    color: rgb(240, 255, 156);
    text-decoration: underline;
    z-index: 1;
}
.g-gridCellCaption a:hover {
    color: white;
}
.g-gridCellCaption.g-smallScreen {
    display: none;
}

.g-justifiedGrid .g-gridCellLoading {
    display: none;
}
.g-gridCellLoading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.g-gridCellLoading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

@media screen and (max-width: 600px) {
    .g-gridCellCaption.g-smallScreen {
        display: block;
    }
    .g-fixedGridCell.g-smallFillWidth {
        width: 100% !important;
        height: unset !important;
    }
    .g-justifiedGridRow.g-smallFillWidth {
        flex-direction: column;
        max-height: unset !important;
        max-width: unset !important;
        height: unset !important;
    }
    .g-justifiedGridRow.g-smallFillWidth .g-gridImage {
        width: 100%;
    }
}

/* Gallery justified grid */
.g-justifiedGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: safe center;
}
.g-justifiedGridRow {
    display: flex;
}
.g-justifiedGridCell {
    position: relative;
}
.g-justifiedGridButton {
    background: transparent;
    border-style: none;
    z-index: 1;
    top: 0%;
    left: 0%;
}
.g-justifiedGridImage {
    height: 100%;
}
.g-justifiedGridRow > :first-child {
    margin-left: 0px;
}
.g-justifiedGridRow > :last-child {
    margin-right: 0px;
}
@media screen and (max-width: 600px) {
    .g-justifiedGridRow {
        max-height: none;
    }
}

/* Gallery fixed grid */
.g-fixedGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0em;
}
.g-fixedGridCell {
    display: inline;
}
.g-fixedGridImage {
    background: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    vertical-align: middle;
}
.g-fixedGridButton {
    display: inline;
    background: transparent;
    box-sizing: content-box;
    border-style: none;
    border-width: 0px;
}

/* Gallery pagination */
.g-pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    font-family: monospace;
    color: rgb(242, 255, 172);
}
.g-pageNavButton {
    margin: 0;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgb(255, 202, 161) 0%,
        rgb(255, 177, 226) 100%
    );
    border-radius: 40%;
    padding: 2px 5px;
    border-style: none;
    color: rgb(255, 255, 255);;
    box-shadow: 2px 2px 0px rgba(109, 15, 96, 0.5);
}
.g-pageNavButton:disabled {
    background: rgba(128, 128, 128, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
.g-pageNavButton:hover:not(:disabled) {
    color: rgb(255, 154, 201);
    background: linear-gradient(
        180deg,
        rgb(255, 238, 225) 0%,
        rgb(255, 228, 245) 100%
    );
}
.g-pageNavPrev:before {
    content: "<";
}
.g-pageNavNext:before {
    content: ">";
}

@media screen and (max-width: 600px) {
    .g-smallScreenHide {
        display: none;
    }
}

/* Gallery sifter */
.g-sifterWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-family: monospace;
    font-size: 1.1em;
}
.g-sifter {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: rgb(255, 192, 239);
    accent-color: rgb(255, 192, 239);;
}
.g-sifter span:not(.g-sifterName) {
    margin: 0px 5px;
}
.g-sifterName {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(236, 197, 111);
    margin-right: 5px;
}
.g-inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.g-filterInputOther:before {
    content: "N/A"
}

.g-sort span:not(.g-sifterName) {
    text-transform: capitalize;
}
.g-sortInputAscending:before {
    content: "ascending";
}
.g-sortInputDescending:before {
    content: "descending";
}
.g-sortAlphabetical .g-sortInputAscending:before {
    content: "A-Z";
}
.g-sortAlphabetical .g-sortInputDescending:before {
    content: "Z-A";
}
