/*
*   (DO NOT REMOVE THIS HEADER)
*
*   Author: espimyte (https://espy.world)
*/

:root {
    --nav-width: 40px;
    --terminal-green: rgb(0, 219, 0);
}
:root:has(.lb-open) {
    overflow: hidden;
}

body {
    overflow-anchor: none;
}

@keyframes loading {
	0% {
		content: ".";
	}
    33% {
        content: "..";
    }
	66% {
		content: "...";
	}
    100% {
		content: ".";
	}
}

/* Lightbox */
#lb {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    overflow: auto;
    border-style: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 1rem;
    backdrop-filter: invert(61%) sepia(58%) saturate(5118%) hue-rotate(86deg) brightness(45%) contrast(200%) blur(5px);
}
#lb a {
    color: greenyellow;
    text-decoration: underline;
}
#lb a:hover {
    color: white;
}

#lb_wrapper {
    position: fixed;
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}
#lb_container {
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 40px);
    gap: 10px;
    padding: 20px;
}
#lb_exitButton {
    position: absolute;
    top: 0%;
    left: 0%;
    border-style: none;
    border-radius: 0%;
    background-color: transparent;
    z-index: 0;
    padding: 0;
    cursor: auto !important;
    height: 100dvh;
    width: 100%;
}
#lb_smallExitButton {
    display: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--terminal-green);
    color: var(--terminal-green);
}

#lb_exitText {
    margin: 0;
}
#lb_info {
    background-color: rgb(0, 0, 0);
    border-style: double;
    margin: 0 auto;
    color: rgb(179, 226, 203);
    border-color: rgb(96, 99, 98);
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    gap: 5px;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid var(--terminal-green);
}
#lb_imageWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#lb_image {
    position: relative;
    z-index: 1;
    object-fit: contain;
    image-rendering: auto;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid var(--terminal-green);
    padding: 4px;
    background: black;
    height: calc(100% - 8px);
}
#lb_image.lb-noframe {
    border-color: transparent;
    background: transparent;
    filter: drop-shadow(1px 1px 0px green) drop-shadow(-1px -1px 0px green) drop-shadow(1px -1px 0px green) drop-shadow(-1px 1px 0px green) 
}
#lb_desc {
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
}
#lb_title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#lb_title, #lb_desc {
    color: var(--terminal-green);
}
#lb_tags {
    display: flex;
    font-family: monospace;
    gap: 5px;
    margin-bottom: 5px;
}
#lb_tags span {
    font-size: 0.85em;
    border: none;
    padding: 0;
    color: var(--terminal-green);
}
#lb_tags span:before {
    content: "["
}
#lb_tags span:after {
    content: "]"
}
#lb_desc code {
    font-size: 0.9em;
    font-family: monospace;
    padding: 0px 2px;
    background-color: black;
    color: var(--terminal-green);
    box-shadow: inset 1px 1px 0px green, inset -1px -1px 0px green;
}

@media screen and (max-width: 600px) {
    #lb_container {
        padding: 0;
        margin: 0;
        height: calc(100dvh);
    }
    #lb_image {
        margin: 0 auto;
        padding: 0px;
    }
    #lb_smallExitButton {
        display: block;
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: rgb(142, 175, 141);
        height: 50px;
        width: 50px;
        margin-left: auto;
        border-style: outset;
        border-color: rgb(116, 113, 121);
        z-index: 1000;
    }
}

/* Lightbox navigation */
.lb-nav {
    background: transparent;
    backdrop-filter: brightness(60%);
    min-width: var(--nav-width);
    max-width: var(--nav-width);
    margin: auto;
    height: 100%;
    z-index: 1;
    display: none;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid var(--terminal-green);
    color: var(--terminal-green);
}
.lb-nav:hover, .lb-nav.lb-pressed {
    backdrop-filter: brightness(50%);
    transition: 0.1s;
    color: var(--terminal-green);
    background-color:rgba(0, 219, 0, 0.2);
}
.lb-nav:disabled {
    backdrop-filter: brightness(60%);
    color: rgba(0, 219, 0, 0.2);
    border-color: rgba(0, 219, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
}
#lb_next:before {
    content: ">";
}
#lb_prev:before {
    content: "<";
}
@media screen and (max-width: 600px) {
    .lb-nav {
        position: absolute;
        border: none;
        backdrop-filter: none;
    }
    #lb_next {
        top: 0%;
        right: 0%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(6, 97, 1, 0.3) 100%
        );
    }
    #lb_prev {
        top: 0%;
        left: 0%;
        background: linear-gradient(
            90deg,
            rgba(6, 97, 1, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }
}

/* Lightbox loading */
#lb_loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}
#lb_loading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

/* Gallery grid */
.g-grid:empty {
    font-family: monospace;
    height: 50px;
    border: 1px dashed green;
    color: var(--terminal-green);
}
.g-grid:empty:before {
    content: "Nothing here!";
    margin: auto;
    padding: 5px;
}
.g-gridCell {
    position: relative;
    margin: 8px;
    padding: 4px;
    border: 1px solid var(--terminal-green);
    background: rgb(0, 0, 0);
    box-sizing: content-box;
}
.g-gridCell.g-noframe {
    background: transparent;
    border-color: transparent;
}
.g-gridCell.g-noframe .g-gridImage {
    filter: drop-shadow(1px 1px 0px green) drop-shadow(-1px -1px 0px green) drop-shadow(1px -1px 0px green) drop-shadow(-1px 1px 0px green);
}
.g-gridImage {
    order: 1;
    border: 2px solid var(--terminal-green);
    box-sizing: border-box;
}
.g-gridCell.g-noframe:hover .g-gridImage {
    filter: unset;
}
.g-gridButton {
    order: 2;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.g-gridButton:hover {
    cursor: pointer;
}
.g-gridCellEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    mix-blend-mode: multiply;
    order: 3;
    display: none;
}
.g-gridCellEffect, .g-image {
    transition: 0.5s ease !important;
}
.g-gridCell:hover {
    background: rgba(0, 219, 0, 0.5);
}
.g-gridCell:hover .g-gridCellEffect {
    transition: 0s ease !important;
    box-shadow: inset 10px 10px 40px rgb(46, 46, 46);
}
.g-gridCell:hover .g-gridImage {
    border: 2px solid rgb(0, 0, 0);
}
.g-disabled img {
    opacity: 1 !important;
}
.g-disabled button {
    display: none;
}

.g-gridCellCaption {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 0.9rem;
    padding: 5px;
    z-index: 1;
    margin: 6px;
    color: var(--terminal-green);
    background: black;
    border: 1px solid var(--terminal-green);
}
.g-noframe .g-gridCellCaption {
    margin: 0;
}
.g-gridCellCaption a {
    display: block;
    position: relative;
    color: greenyellow;
    text-decoration: underline;
    z-index: 1;
}
.g-gridCellCaption a:hover {
    color: white;
}
.g-gridCellCaption.g-smallScreen {
    display: none;
}

.g-justifiedGrid .g-gridCellLoading {
    display: none;
}
.g-gridCellLoading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.g-gridCellLoading:before {
    content: "...";
    animation: loading 1s linear infinite;
}

@media screen and (max-width: 600px) {
    .g-gridCellCaption.g-smallScreen {
        display: block;
    }
    .g-fixedGridCell.g-smallFillWidth {
        width: 100% !important;
        height: unset !important;
    }
    .g-justifiedGridRow.g-smallFillWidth {
        flex-direction: column;
        max-height: unset !important;
        max-width: unset !important;
        height: unset !important;
    }
    .g-justifiedGridRow.g-smallFillWidth .g-gridImage {
        width: 100%;
    }
}

/* Gallery justified grid */
.g-justifiedGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: safe center;
}
.g-justifiedGridRow {
    display: flex;
}
.g-justifiedGridCell {
    position: relative;
}
.g-justifiedGridButton {
    background: transparent;
    border-style: none;
    z-index: 1;
    top: 0%;
    left: 0%;
}
.g-justifiedGridImage {
    height: 100%;
}
@media screen and (max-width: 600px) {
    .g-justifiedGridRow {
        max-height: none;
    }
}

/* Gallery fixed grid */
.g-fixedGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0em;
}
.g-fixedGridCell {
    display: inline;
}
.g-fixedGridImage {
    background: transparent;
    padding: 0px;
    margin: 0px;
    border-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    vertical-align: middle;
}
.g-fixedGridButton {
    display: inline;
    background: transparent;
    box-sizing: content-box;
    border-style: none;
    border-width: 0px;
}

/* Gallery pagination */
.g-pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    font-family: monospace;
    color: var(--terminal-green);
}
.g-pageNavButton {
    margin: 0;
    cursor: pointer;
    background: black;
    color: var(--terminal-green);
    border: 1px solid var(--terminal-green);
}
.g-pageNavButton:disabled {
    border-color: green;
    color: green;
}
.g-pageNavButton:hover:not(:disabled) {
    background: rgb(0, 73, 18);
}
.g-pageNavPrev:before {
    content: "<";
}
.g-pageNavNext:before {
    content: ">";
}

@media screen and (max-width: 600px) {
    .g-smallScreenHide {
        display: none;
    }
}

/* Gallery sifter */
.g-sifterWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-family: monospace;
    font-size: 1.1em;
}
.g-sifter {
    display: flex;
    color: var(--terminal-green);
    accent-color: var(--terminal-green);
}
.g-sifter span:not(.g-sifterName) {
    margin: 0px 5px;
}
.g-sifterName {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(0, 173, 0);
    margin-right: 5px;
}
.g-inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.g-filterInputOther:before {
    content: "N/A"
}

.g-sort span:not(.g-sifterName) {
    text-transform: capitalize;
}
.g-sortInputAscending:before {
    content: "ascending";
}
.g-sortInputDescending:before {
    content: "descending";
}
.g-sortAlphabetical .g-sortInputAscending:before {
    content: "A-Z";
}
.g-sortAlphabetical .g-sortInputDescending:before {
    content: "Z-A";
}
